{{ block title }}
    {{ if player.number == 1 }}
        <p style="line-height:1; margin:0px; margin-left:0px"> You are the<span style="line-height:1; margin:0px; margin-left:10px; color: purple">{{ player.role }} </span>
            </p>
    {{ else }}
        <p style="line-height:1; margin:0px; margin-left:0px"> You are the<span style="line-height:1; margin:0px; margin-left:10px; color: orange">{{ player.role }} </span>
            </p>
    {{ endif }}
{{ endblock }}

{{ block content }}
    <!-- Extra text for description of task -->
    {{ if player.role == Constants.director_role }}
    <div style=" height: 40px;">
        <p>Please select one of the four signals and click "send"</p>
    </div>
    {{ else }}
    <div style=" height: 40px;">
        <p style="margin-bottom: 0px" >The signal that the Director sent will show up in the "Communications" </p>
        <p style="margin-bottom: 0px" >box. Please click on the object that you think the Director tried to</p>
        <p style="margin-bottom: 0px" >communicate</p>
    </div>
    {{ endif }}
    <!-- Game box -->
    <div style="line-height:1;  width: 49%; height: 400px; margin-right: 11%; float:left; transform: rotateX(75deg) rotateZ(45deg);">
   <!-- Grid -->
    {{ if player.number == 1}}
        {{ if player.group.gridcolorpos == 1}}
            <div style="width: 50%; height: 200px; float:left; border:1px; border-style: none solid solid none; background-color: #d01c8b">
            </div>
            <div style="width: 50%; height: 200px; float:right; border:1px; border-style: none none solid solid; background-color: #b8e186">
            </div>
            <div style="width: 50%; height: 200px; float:left; border:1px; border-style: solid solid none none; background-color: #f1b6da">
            </div>
            <div style="width: 50%; height: 200px; float:right; border:1px; border-style: solid none none solid; background-color: #4dac26">
            </div>
        {{ endif }}
        {{ if player.group.gridcolorpos == 4}}
            <div style="width: 50%; height: 200px; float:left; border:1px; border-style: none solid solid none; background-color: #b8e186">
            </div>
            <div style="width: 50%; height: 200px; float:right; border:1px; border-style: none none solid solid; background-color: #4dac26">
            </div>
            <div style="width: 50%; height: 200px; float:left; border:1px; border-style: solid solid none none; background-color: #d01c8b">
            </div>
            <div style="width: 50%; height: 200px; float:right; border:1px; border-style: solid none none solid; background-color: #f1b6da">
            </div>
        {{ endif }}
        {{ if player.group.gridcolorpos == 3}}
            <div style="width: 50%; height: 200px; float:left; border:1px; border-style: none solid solid none; background-color: #4dac26">
            </div>
            <div style="width: 50%; height: 200px; float:right; border:1px; border-style: none none solid solid; background-color: #f1b6da">
            </div>
            <div style="width: 50%; height: 200px; float:left; border:1px; border-style: solid solid none none; background-color: #b8e186">
            </div>
            <div style="width: 50%; height: 200px; float:right; border:1px; border-style: solid none none solid; background-color: #d01c8b">
            </div>
        {{ endif }}
        {{ if player.group.gridcolorpos == 2}}
            <div style="width: 50%; height: 200px; float:left; border:1px; border-style: none solid solid none; background-color: #f1b6da">
            </div>
            <div style="width: 50%; height: 200px; float:right; border:1px; border-style: none none solid solid; background-color: #d01c8b">
            </div>
            <div style="width: 50%; height: 200px; float:left; border:1px; border-style: solid solid none none; background-color: #4dac26">
            </div>
            <div style="width: 50%; height: 200px; float:right; border:1px; border-style: solid none none solid; background-color: #b8e186">
            </div>
        {{ endif }}
    {{ else }}
        {{ if player.group.player2pos == 2}}
            {{ if player.group.gridcolorpos == 4}}
                <div style="width: 50%; height: 200px; float:left; border:1px; border-style: none solid solid none; background-color: #d01c8b">
                </div>
                <div style="width: 50%; height: 200px; float:right; border:1px; border-style: none none solid solid; background-color: #b8e186">
                </div>
                <div style="width: 50%; height: 200px; float:left; border:1px; border-style: solid solid none none; background-color: #f1b6da">
                </div>
                <div style="width: 50%; height: 200px; float:right; border:1px; border-style: solid none none solid; background-color: #4dac26">
                </div>
            {{ endif }}
            {{ if player.group.gridcolorpos == 3}}
                <div style="width: 50%; height: 200px; float:left; border:1px; border-style: none solid solid none; background-color: #b8e186">
                </div>
                <div style="width: 50%; height: 200px; float:right; border:1px; border-style: none none solid solid; background-color: #4dac26">
                </div>
                <div style="width: 50%; height: 200px; float:left; border:1px; border-style: solid solid none none; background-color: #d01c8b">
                </div>
                <div style="width: 50%; height: 200px; float:right; border:1px; border-style: solid none none solid; background-color: #f1b6da">
                </div>
            {{ endif }}
            {{ if player.group.gridcolorpos == 2}}
                <div style="width: 50%; height: 200px; float:left; border:1px; border-style: none solid solid none; background-color: #4dac26">
                </div>
                <div style="width: 50%; height: 200px; float:right; border:1px; border-style: none none solid solid; background-color: #f1b6da">
                </div>
                <div style="width: 50%; height: 200px; float:left; border:1px; border-style: solid solid none none; background-color: #b8e186">
                </div>
                <div style="width: 50%; height: 200px; float:right; border:1px; border-style: solid none none solid; background-color: #d01c8b">
                </div>
            {{ endif }}
            {{ if player.group.gridcolorpos == 1}}
                <div style="width: 50%; height: 200px; float:left; border:1px; border-style: none solid solid none; background-color: #f1b6da">
                </div>
                <div style="width: 50%; height: 200px; float:right; border:1px; border-style: none none solid solid; background-color: #d01c8b">
                </div>
                <div style="width: 50%; height: 200px; float:left; border:1px; border-style: solid solid none none; background-color: #4dac26">
                </div>
                <div style="width: 50%; height: 200px; float:right; border:1px; border-style: solid none none solid; background-color: #b8e186">
                </div>
            {{ endif }}
        {{ endif }}
        {{ if player.group.player2pos == 3}}
            {{ if player.group.gridcolorpos == 3}}
                <div style="width: 50%; height: 200px; float:left; border:1px; border-style: none solid solid none; background-color: #d01c8b">
                </div>
                <div style="width: 50%; height: 200px; float:right; border:1px; border-style: none none solid solid; background-color: #b8e186">
                </div>
                <div style="width: 50%; height: 200px; float:left; border:1px; border-style: solid solid none none; background-color: #f1b6da">
                </div>
                <div style="width: 50%; height: 200px; float:right; border:1px; border-style: solid none none solid; background-color: #4dac26">
                </div>
            {{ endif }}
            {{ if player.group.gridcolorpos == 2}}
                <div style="width: 50%; height: 200px; float:left; border:1px; border-style: none solid solid none; background-color: #b8e186">
                </div>
                <div style="width: 50%; height: 200px; float:right; border:1px; border-style: none none solid solid; background-color: #4dac26">
                </div>
                <div style="width: 50%; height: 200px; float:left; border:1px; border-style: solid solid none none; background-color: #d01c8b">
                </div>
                <div style="width: 50%; height: 200px; float:right; border:1px; border-style: solid none none solid; background-color: #f1b6da">
                </div>
            {{ endif }}
            {{ if player.group.gridcolorpos == 1}}
                <div style="width: 50%; height: 200px; float:left; border:1px; border-style: none solid solid none; background-color: #4dac26">
                </div>
                <div style="width: 50%; height: 200px; float:right; border:1px; border-style: none none solid solid; background-color: #f1b6da">
                </div>
                <div style="width: 50%; height: 200px; float:left; border:1px; border-style: solid solid none none; background-color: #b8e186">
                </div>
                <div style="width: 50%; height: 200px; float:right; border:1px; border-style: solid none none solid; background-color: #d01c8b">
                </div>
            {{ endif }}
            {{ if player.group.gridcolorpos == 4}}
                <div style="width: 50%; height: 200px; float:left; border:1px; border-style: none solid solid none; background-color: #f1b6da">
                </div>
                <div style="width: 50%; height: 200px; float:right; border:1px; border-style: none none solid solid; background-color: #d01c8b">
                </div>
                <div style="width: 50%; height: 200px; float:left; border:1px; border-style: solid solid none none; background-color: #4dac26">
                </div>
                <div style="width: 50%; height: 200px; float:right; border:1px; border-style: solid none none solid; background-color: #b8e186">
                </div>
            {{ endif }}
        {{ endif }}
        {{ if player.group.player2pos == 4}}
            {{ if player.group.gridcolorpos == 2}}
                <div style="width: 50%; height: 200px; float:left; border:1px; border-style: none solid solid none; background-color: #d01c8b">
                </div>
                <div style="width: 50%; height: 200px; float:right; border:1px; border-style: none none solid solid; background-color: #b8e186">
                </div>
                <div style="width: 50%; height: 200px; float:left; border:1px; border-style: solid solid none none; background-color: #f1b6da">
                </div>
                <div style="width: 50%; height: 200px; float:right; border:1px; border-style: solid none none solid; background-color: #4dac26">
                </div>
            {{ endif }}
            {{ if player.group.gridcolorpos == 1}}
                <div style="width: 50%; height: 200px; float:left; border:1px; border-style: none solid solid none; background-color: #b8e186">
                </div>
                <div style="width: 50%; height: 200px; float:right; border:1px; border-style: none none solid solid; background-color: #4dac26">
                </div>
                <div style="width: 50%; height: 200px; float:left; border:1px; border-style: solid solid none none; background-color: #d01c8b">
                </div>
                <div style="width: 50%; height: 200px; float:right; border:1px; border-style: solid none none solid; background-color: #f1b6da">
                </div>
            {{ endif }}
            {{ if player.group.gridcolorpos == 4}}
                <div style="width: 50%; height: 200px; float:left; border:1px; border-style: none solid solid none; background-color: #4dac26">
                </div>
                <div style="width: 50%; height: 200px; float:right; border:1px; border-style: none none solid solid; background-color: #f1b6da">
                </div>
                <div style="width: 50%; height: 200px; float:left; border:1px; border-style: solid solid none none; background-color: #b8e186">
                </div>
                <div style="width: 50%; height: 200px; float:right; border:1px; border-style: solid none none solid; background-color: #d01c8b">
                </div>
            {{ endif }}
            {{ if player.group.gridcolorpos == 3}}
                <div style="width: 50%; height: 200px; float:left; border:1px; border-style: none solid solid none; background-color: #f1b6da">
                </div>
                <div style="width: 50%; height: 200px; float:right; border:1px; border-style: none none solid solid; background-color: #d01c8b">
                </div>
                <div style="width: 50%; height: 200px; float:left; border:1px; border-style: solid solid none none; background-color: #4dac26">
                </div>
                <div style="width: 50%; height: 200px; float:right; border:1px; border-style: solid none none solid; background-color: #b8e186">
                </div>
            {{ endif }}
        {{ endif }}
        {{ if player.group.player2pos == 1}}
            {{ if player.group.gridcolorpos == 1}}
                <div style="width: 50%; height: 200px; float:left; border:1px; border-style: none solid solid none; background-color: #d01c8b">
                </div>
                <div style="width: 50%; height: 200px; float:right; border:1px; border-style: none none solid solid; background-color: #b8e186">
                </div>
                <div style="width: 50%; height: 200px; float:left; border:1px; border-style: solid solid none none; background-color: #f1b6da">
                </div>
                <div style="width: 50%; height: 200px; float:right; border:1px; border-style: solid none none solid; background-color: #4dac26">
                </div>
            {{ endif }}
            {{ if player.group.gridcolorpos == 4}}
                <div style="width: 50%; height: 200px; float:left; border:1px; border-style: none solid solid none; background-color: #b8e186">
                </div>
                <div style="width: 50%; height: 200px; float:right; border:1px; border-style: none none solid solid; background-color: #4dac26">
                </div>
                <div style="width: 50%; height: 200px; float:left; border:1px; border-style: solid solid none none; background-color: #d01c8b">
                </div>
                <div style="width: 50%; height: 200px; float:right; border:1px; border-style: solid none none solid; background-color: #f1b6da">
                </div>
            {{ endif }}
            {{ if player.group.gridcolorpos == 3}}
                <div style="width: 50%; height: 200px; float:left; border:1px; border-style: none solid solid none; background-color: #4dac26">
                </div>
                <div style="width: 50%; height: 200px; float:right; border:1px; border-style: none none solid solid; background-color: #f1b6da">
                </div>
                <div style="width: 50%; height: 200px; float:left; border:1px; border-style: solid solid none none; background-color: #b8e186">
                </div>
                <div style="width: 50%; height: 200px; float:right; border:1px; border-style: solid none none solid; background-color: #d01c8b">
                </div>
            {{ endif }}
            {{ if player.group.gridcolorpos == 2}}
                <div style="width: 50%; height: 200px; float:left; border:1px; border-style: none solid solid none; background-color: #f1b6da">
                </div>
                <div style="width: 50%; height: 200px; float:right; border:1px; border-style: none none solid solid; background-color: #d01c8b">
                </div>
                <div style="width: 50%; height: 200px; float:left; border:1px; border-style: solid solid none none; background-color: #4dac26">
                </div>
                <div style="width: 50%; height: 200px; float:right; border:1px; border-style: solid none none solid; background-color: #b8e186">
                </div>
            {{ endif }}
        {{ endif }}
    {{ endif }}
    </div>
    <!-- Placing objects-->
    {{ if player.role == Constants.director_role }}
        {{ if player.group.imgavalue == True }}
            <div style="position: absolute; top: 225px;  left: 235px">
            <p style="line-height:0; font-size: 60px; font-weight: bold; color: black; margin-left: 13px; transform: rotateZ(-55deg)"> &larr;</p>
            </div>
        {{ endif }}
        <div style="position: absolute; top: 250px;  left: 214px">
        <img src="{{ static image_patha }}" width="56px" height="56px"/>
        </div>
        {{ if player.group.imgbvalue == True }}
            <div style="position: absolute; top: 255px;  left: 385px">
            <p style="line-height:0; font-size: 65px; font-weight: bold; color: black; margin-left: 20px; transform: rotateZ(-55deg)"> &larr;</p>
            </div>
        {{ endif }}
        <div style="position: absolute; top: 275px;  left: 360px">
        <img src="{{ static image_pathb }}" width="66px" height="66px"/>
        </div>
        {{ if player.group.imgcvalue == True }}
            <div style="position: absolute; top: 300px;  left: 220px">
            <p style="line-height:0; font-size: 80px; font-weight: bold; color: black; margin-left: 23px; transform: rotateZ(-55deg)"> &larr;</p>
            </div>
        {{ endif }}
        <div style="position: absolute; top: 310px;  left: 200px">
        <img src="{{ static image_pathc }}" width="80px" height="80px"/>
        </div>
    {{ else }}
        {{ if player.group.player2pos == 3}}
            <div style="position: absolute; top: 310px;  left: 200px">
                <input type="image" src="{{ static image_patha }}" class="buttontrans" width="80px" height="80px" onclick="liveSend('select1')">
            </div>
            <div style="position: absolute; top: 275px;  left: 60px">
                <input type="image" src="{{ static image_pathb }}" class="buttontrans" width="66px" height="66px" onclick="liveSend('select2')">
            </div>
            <div style="position: absolute; top: 250px;  left: 214px">
                <input type="image" src="{{ static image_pathc }}" class="buttontrans" width="56px" height="56px" onclick="liveSend('select3')">
            </div>
        {{ endif }}
        {{ if player.group.player2pos == 4}}
            {{ if player.number == 1}}
                <div style="position: absolute; top: 275px;  left: 360px">
                    <input type="image" src="{{ static image_patha }}" class="buttontrans" width="66px" height="66px" onclick="liveSend('select1')">
                </div>
                <div style="position: absolute; top: 310px;  left: 200px">
                    <input type="image" src="{{ static image_pathb }}" class="buttontrans" width="80px" height="80px" onclick="liveSend('select2')">
                </div>
                <div style="position: absolute; top: 275px;  left: 60px">
                    <input type="image" src="{{ static image_pathc }}" class="buttontrans" width="66px" height="66px" onclick="liveSend('select3')">
                </div>
            {{ else }}
                <div style="position: absolute; top: 275px;  left: 60px">
                    <input type="image" src="{{ static image_patha }}" class="buttontrans" width="66px" height="66px" onclick="liveSend('select1')">
                </div>
                <div style="position: absolute; top: 250px;  left: 200px">
                    <input type="image" src="{{ static image_pathb }}" class="buttontrans" width="56px" height="56px" onclick="liveSend('select2')">
                </div>
                <div style="position: absolute; top: 275px;  left: 360px">
                    <input type="image" src="{{ static image_pathc }}" class="buttontrans" width="66px" height="66px" onclick="liveSend('select3')">
                </div>
            {{ endif }}
        {{ endif }}
        {{ if player.group.player2pos == 1}}
            <div style="position: absolute; top: 250px;  left: 214px">
                <input type="image" src="{{ static image_patha }}" class="buttontrans" width="56px" height="56px" onclick="liveSend('select1')">
            </div>
            <div style="position: absolute; top: 275px;  left: 360px">
                <input type="image" src="{{ static image_pathb }}" class="buttontrans" width="66px" height="66px" onclick="liveSend('select2')">
            </div>
            <div style="position: absolute; top: 310px;  left: 200px">
                <input type="image" src="{{ static image_pathc }}" class="buttontrans" width="80px" height="80px" onclick="liveSend('select3')">
            </div>
        {{ endif }}
        {{ if player.group.player2pos == 2}}
            {{ if player.number == 1}}
                <div style="position: absolute; top: 275px;  left: 60px">
                    <input type="image" src="{{ static image_patha }}" class="buttontrans" width="66px" height="66px" onclick="liveSend('select1')">
                </div>
                <div style="position: absolute; top: 250px;  left: 200px">
                    <input type="image" src="{{ static image_pathb }}" class="buttontrans" width="56px" height="56px" onclick="liveSend('select2')">
                </div>
                <div style="position: absolute; top: 275px;  left: 360px">
                    <input type="image" src="{{ static image_pathc }}" class="buttontrans" width="66px" height="66px" onclick="liveSend('select3')">
                </div>
            {{ else }}
                <div style="position: absolute; top: 275px;  left: 360px">
                    <input type="image" src="{{ static image_patha }}" class="buttontrans" width="66px" height="66px" onclick="liveSend('select1')">
                </div>
                <div style="position: absolute; top: 310px;  left: 200px">
                    <input type="image" src="{{ static image_pathb }}" class="buttontrans" width="80px" height="80px" onclick="liveSend('select2')">
                </div>
                <div style="position: absolute; top: 275px;  left: 60px">
                    <input type="image" src="{{ static image_pathc }}" class="buttontrans" width="66px" height="66px" onclick="liveSend('select3')">
                </div>
            {{ endif }}
        {{ endif }}
    {{ endif }}
    <!-- Add silhouette -->
    {{ if player.number == 1 }}
        <div style="position: absolute; top: 400px;  left: 200px" >
            <img src="{{ static silhouetteme }}" width="80px" height="auto"/>
        </div>
        {{ if player.group.player2pos == 3}}
            <div style="position: absolute; top: 135px;  left: 200px" >
                <img src="{{ static silhouetteother }}" width="60px" height="auto"/>
            </div>
        {{ endif }}
        {{ if player.group.player2pos == 2}}
            <div style="position: absolute; top: 215px;  left: 560px" >
                <img src="{{ static silhouetteother }}" width="70px" height="auto"/>
            </div>
        {{ endif }}
        {{ if player.group.player2pos == 1}}
            <div style="position: absolute; top: 400px;  left: 270px" >
                <img src="{{ static silhouetteother }}" width="80px" height="auto"/>
            </div>
        {{ endif }}
        {{ if player.group.player2pos == 4}}
            <div style="position: absolute; top: 215px;  left: -120px" >
                <img src="{{ static silhouetteother }}" width="70px" height="auto"/>
            </div>
        {{ endif }}
    {{ else }}
        <div style="position: absolute; top: 400px;  left: 270px" >
            <img src="{{ static silhouetteme }}" width="80px" height="auto"/>
        </div>
        {{ if player.group.player2pos == 3}}
            <div style="position: absolute; top: 135px;  left: 200px" >
                <img src="{{ static silhouetteother }}" width="60px" height="auto"/>
            </div>
        {{ endif }}
        {{ if player.group.player2pos == 2}}
            <div style="position: absolute; top: 215px;  left: -120px" >
                <img src="{{ static silhouetteother }}" width="70px" height="auto"/>
            </div>
        {{ endif }}
        {{ if player.group.player2pos == 1}}
            <div style="position: absolute; top: 400px;  left: 200px" >
                <img src="{{ static silhouetteother }}" width="80px" height="auto"/>
            </div>
        {{ endif }}
        {{ if player.group.player2pos == 4}}
            <div style="position: absolute; top: 215px;  left: 560px" >
                <img src="{{ static silhouetteother }}" width="60px" height="auto"/>
            </div>
        {{ endif }}
    {{ endif }}
    <!-- Chat box -->
    <div style="line-height:1; width: 35%; height: 400px; float:right;">
        <div id="div" style="height: 80%; border: 4px groove; background-color:#e8e7e3; overflow:auto;">
            <h4 style="border:1px; border-style: none none groove none;"> Communications </h4>
            <div id="div1" style="height: 80%; background-color:#e8e7e3">
            </div>
        </div>
        {{ if player.role == Constants.director_role }}
        <div id="div3">
            <div id="div2" style="height: 10%;  border:1px; border: 4px groove; background-color:#e8e7e3; overflow:auto ;" >
            </div>
            <div  style="width: 75%; float:left">
                <button id="buttonwa" type="button" class="button button1" onclick="liveSend('wa'); disablesymbols()" >wa</button>
                <button id="buttonli" type="button" class="button button1" onclick="liveSend('li'); disablesymbols()" >li</button>
                <button id="buttonke" type="button" class="button button1" onclick="liveSend('ke'); disablesymbols()" >ke</button>
                <button id="buttonzu" type="button" class="button button1" onclick="liveSend('zu'); disablesymbols()" >zu</button>
            </div>
            <div  style="width: 10%; float:right">
                <button disabled id="buttonsend" type="button" class="button button1" style="float:right;" onclick="liveSend('send'), disablefinal()" >send</button>
                <button disabled id="buttonundo" type="button" class="button button1" style="float:right;" onclick="liveSend('undo'); ensablesymbols()" >undo</button>
            </div>
        </div>
        {{ endif }}
    </div>

    <!-- To give some space for the game box and chat box -->
    <div style="height: 400px;">
        </div>

<style>
.buttontrans {
    background-color: transparent;
}

.buttontrans:hover {
    border: 5px solid transparent;
}

.button {
  border: none;
  color: Black;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

button:disabled,
button[disabled]{
  background-color: #cccccc;
  color: #666666;
}

.button1 {
  background-color: #e8e7e3;
}

.button1:hover {
  background-color: #c2c2c2;
}

.buttonwrap {
  border: 3px outset gray;
  background-color: lightgray;
}

.buttonwrap:active {
  border-style: inset;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.container {
  height: 120px;
  position: relative;
}

.center-full {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.otree-timer {
    color:black;
    background-color:#e8e7e3;
    border-color:black;
    position: absolute;
    top: 72px;
    left: 627px;
    width: 330px;
    height: 60px;
}

}

</style>

<script>
document.addEventListener("DOMContentLoaded", (event) => {
    liveSend("");
});

    var remove = 0;
    let role = js_vars.role; // String, either "Director" or "Matcher"

function chatFunction(message) {
    var para = document.createElement("p");
    var node = document.createTextNode(message);
    para.appendChild(node);

    if (!message.includes('Message:')){
        var element = document.getElementById("div1");
        element.appendChild(para);
    } else {
        var element = document.getElementById("div2");
        element.appendChild(para);
    }

    remove++;
}

// Disables the chat buttons
function disablefinal(){
    document.getElementById("buttonsend").disabled = true;
    document.getElementById("buttonundo").disabled = true;
    document.getElementById("buttonwa").disabled = true;
    document.getElementById("buttonli").disabled = true;
    document.getElementById("buttonke").disabled = true;
    document.getElementById("buttonzu").disabled = true;
}

// Disables the symbol buttons
function disablesymbols(){
    document.getElementById("buttonsend").disabled = false;
    document.getElementById("buttonundo").disabled = false;
    document.getElementById("buttonwa").disabled = true;
    document.getElementById("buttonli").disabled = true;
    document.getElementById("buttonke").disabled = true;
    document.getElementById("buttonzu").disabled = true;
}

// enable the symbol buttons
function ensablesymbols(){
    document.getElementById("buttonsend").disabled = true;
    document.getElementById("buttonundo").disabled = true;
    document.getElementById("buttonwa").disabled = false;
    document.getElementById("buttonli").disabled = false;
    document.getElementById("buttonke").disabled = false;
    document.getElementById("buttonzu").disabled = false;
}

function liveRecv(data){
    var chat = data; // String List

    // Goes no the next page if string 'nextpage' is received from the server
    if (data != 'null' && data[0] == 'nextpage'){
        document.getElementById("form").submit();
    }

    var element = document.getElementById("div1");
    var elementmbox = document.getElementById("div2");
    var shouldremove = remove;

    // Removes current chat
    for (i = 0; i < shouldremove; i++) {
        element.removeChild(element.lastChild);
        remove--;
    }
    // Removes current message that is being typed
    if (role == "Director"){
        elementmbox.removeChild(elementmbox.lastChild);
        remove--
    }

    // Draws new chat
    if (data != 'null' && data[0] != 'nextpage'){
        Array.from(chat).forEach(chatFunction);
    }

    // Removes the "Message" part for the Matcher
    if (role == "Matcher"){
        element.removeChild(element.lastChild);
        remove--;
    }

    // Makes sure it is scrolled down
    element.scrollTop = element.scrollHeight;
}
</script>
{{ endblock }}