{{ block title }}

    Welcome! You are the {{ player.role }}

    <!-- To give some space for the game box and chat box -->
    <div style=" height: 40px;">
        </div>

{{ endblock }}

{{ block content }}

    <!-- Game box -->
    {{ if player.group.condition3d }}
        {{ if player.group.silhouette_corner }}
            <div style="position: absolute; top: 90px;  left: 130px; transform: rotateX(30deg) rotateY(-15deg);" >
                <p style="line-height:1; margin:0px; margin-left:10px"> {{ if player.role == Constants.director_role }} Matcher {{ else }} Director {{ endif }}</p>
                <img src="{{ static 'FruitGame/man.png' }}"/>
            </div>
        {{ else }}
            <div style="position: absolute; top: 155px;  left: -30px; transform: rotateY(60deg) rotateZ(-20deg);" >
                <p style="line-height:1; margin:0px; margin-left:10px"> {{ if player.role == Constants.director_role }} Matcher {{ else }} Director {{ endif }}</p>
                <img src="{{ static 'FruitGame/man.png' }}"/>
            </div>
        {{ endif }}
    {{ endif }}
    {{ if player.group.condition3d }}
    <div style="line-height:1;  width: 49%; height: 400px; margin-right: 1%; float:left; transform: rotateX(60deg) rotateZ(30deg);">
    {{ else }}
    <div style="line-height:1;  width: 49%; height: 400px; margin-right: 1%; float:left;">
    {{ endif }}
        <div style="width: 50%; height: 200px; float:left; border:1px; border-style: none solid solid none">
            <div style=" height: 40px;">
                <!-- Old code of good/bad targets -->
                <!--{{ if player.role == Constants.director_role }}-->
                <!--{{ if player.group.imgavalue == True }} <p style="text-align: center; font-size: 20px; color: green"> <br><br><br>GOOD </p>-->
                <!--{{ else }} <p style="text-align: center; font-size: 20px; color: red;">  <br><br><br>BAD </p>-->
                <!--{{ endif }}-->
                <!--{{ endif }}-->
            </div>
            <div class="container">
                <div style="margin-left: 40px">
                {{ if player.role == Constants.director_role }}
                    {{ if player.group.imgavalue == True }}
                        <img src="{{ static image_patha }}" width="124px" height="124px" style="border: 4px solid green" }/>
                    {{ else }}
                        <img src="{{ static image_patha }}" width="120px" height="120px" }/>
                    {{ endif }}
                {{ else }}
                    <input type="image" src="{{ static image_patha }}" class="buttontrans" width="120px" height="120px" onclick="liveSend('select1')">
                {{ endif }}
                </div>
            </div>
        </div>
        <div style="width: 50%; height: 200px; float:right; border:1px; border-style: none none solid solid">
            <div style=" height: 40px;">
            </div>
            <div class="container">
                <div style="margin-left: 40px">
                {{ if player.role == Constants.director_role }}
                    {{ if player.group.imgbvalue == True }}
                        <img src="{{ static image_pathb }}" width="124px" height="124px" style="border: 4px solid green" }/>
                    {{ else }}
                        <img src="{{ static image_pathb }}" width="120px" height="120px" }/>
                    {{ endif }}
                {{ else }}
                    <input type="image" src="{{ static image_pathb }}" class="buttontrans" width="120px" height="120px" onclick="liveSend('select2')">
                {{ endif }}
                </div>
            </div>
        </div>
        <div style="width: 50%; height: 200px; float:left; border:1px; border-style: solid solid  none none">
            {# <div style=" height: 40px;">
            </div>
            <div class="container">
                <div style="margin-left: 40px">
                {{ if player.role == Constants.director_role }}
                    {{ if player.group.imgcvalue == True }}
                        <img src="{{ static image_pathc }}" width="124px" height="124px" style="border: 4px solid green" }/>
                    {{ else }}
                        <img src="{{ static image_pathc }}" width="120px" height="120px" }/>
                    {{ endif }}
                {{ else }}
                    <input type="image" src="{{ static image_pathc }}" class="buttontrans" width="120px" height="120px" onclick="liveSend('select3')">
                {{ endif }}
                </div>
            </div> #}
        </div>
        <div style="width: 50%; height: 200px; float:right; border:1px; border-style: solid none  none solid">
            <div style=" height: 40px;">
            </div>
            <div class="container">
                <div style="margin-left: 40px">
                {{ if player.role == Constants.director_role }}
                    {{ if player.group.imgcvalue == True }}
                        <img src="{{ static image_pathc }}" width="124px" height="124px" style="border: 4px solid green" }/>
                    {{ else }}
                        <img src="{{ static image_pathc }}" width="120px" height="120px" }/>
                    {{ endif }}
                {{ else }}
                    <input type="image" src="{{ static image_pathc }}" class="buttontrans" width="120px" height="120px" onclick="liveSend('select3')">
                {{ endif }}
                    </div>
            </div>
        </div>
    </div>

    <!-- Chat box -->
    <div style="line-height:1; width: 50%; height: 400px; float:right;">
        <div id="div" style="height: 80%; border: 4px groove; background-color:#e8e7e3; overflow:auto;">
            <h4 style="border:1px; border-style: none none groove none;"> Communications </h4>
            <div id="div1" style="height: 80%; background-color:#e8e7e3">
            </div>
        </div>
        <div id="div3">
        {{ if player.role == Constants.director_role }}
            <div id="div2" style="height: 10%;  border:1px; border: 4px groove; background-color:#e8e7e3; overflow:auto ;" >
            </div>
            <button type="button" class="button button1" onclick="liveSend('wa')" >wa</button>
            <button type="button" class="button button1" onclick="liveSend('bi')" >bi</button>
            <button type="button" class="button button1" style="float:right;" onclick="liveSend('send')" >send</button>
            <button type="button" class="button button1" style="float:right;" onclick="liveSend('undo')" >undo</button>
        </div>
        {{ endif }}
    </div>

<style>
.buttontrans {
    background-color: transparent;
}

.buttontrans:hover {
    border: 5px solid transparent;
}

.button {
  border: none;
  color: Black;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button1 {
  background-color: #e8e7e3;
}

.button1:hover {
  background-color: #c2c2c2;
}

.buttonwrap {
  border: 3px outset gray;
  background-color: lightgray;
}

.buttonwrap:active {
  border-style: inset;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.container {
  height: 120px;
  position: relative;
}

.center-full {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
</style>

<script>
document.addEventListener("DOMContentLoaded", (event) => {
    liveSend("");
});

    var remove = 0;
    let role = js_vars; // String, either "Director" or "Matcher"

function chatFunction(message) {
    var para = document.createElement("p");
    var node = document.createTextNode(message);
    para.appendChild(node);



    if (!message.includes('Message:')){
        var element = document.getElementById("div1");
        element.appendChild(para);
    } else {
        var element = document.getElementById("div2");
        element.appendChild(para);
    }

    remove++;
}

function liveRecv(data){
    var chat = data; // String List

    // Goes no the next page if string 'nextpage' is received from the server
    if (data != 'null' && data[0] == 'nextpage'){
        document.getElementById("form").submit();
    }

    var element = document.getElementById("div1");
    var elementmbox = document.getElementById("div2");
    var shouldremove = remove;

    // Removes current chat
    for (i = 0; i < shouldremove; i++) {
        element.removeChild(element.lastChild);
        remove--;
    }
    // Removes current message that is being typed
    if (role == "Director"){
        elementmbox.removeChild(elementmbox.lastChild);
        remove--
    }

    // Draws new chat
    if (data != 'null' && data[0] != 'nextpage'){
        Array.from(chat).forEach(chatFunction);
    }

    // Removes the "Message" part for the Matcher
    if (role == "Matcher"){
        element.removeChild(element.lastChild);
        remove--;
    }

    // Makes sure it is scrolled down
    element.scrollTop = element.scrollHeight;
}
</script>
{{ endblock }}