{{ block title }}

    Welcome! You are the {{ player.role }}
{{ endblock }}
{{ block content }}

    <!-- Game box -->
    {{ if player.group.condition3d }}
    <div style="position: absolute; top: 130px;  left: -30px; transform: rotateY(60deg) rotateZ(-20deg);" >
        <p style="line-height:1; margin:0px; margin-left:10px"> {{ if player.role == Constants.director_role }} Matcher {{ else }} Director {{ endif }}</p>
        <img src="{{ static 'FruitGame/man.png' }}"/>
    </div>
    {{ endif }}
    {{ if player.group.condition3d }}
    <div style="line-height:1;  width: 49%; height: 400px; margin-right: 1%; float:left; transform: rotateX(60deg) rotateZ(30deg);">
    {{ else }}
    <div style="line-height:1;  width: 49%; height: 400px; margin-right: 1%; float:left;">
    {{ endif }}
        <div style="width: 50%; height: 200px; float:left; border:1px; border-style: none solid solid none">
            <div style=" height: 80px;">
                {{ if player.role == Constants.director_role }}
                {{ if player.group.imgavalue == True }} <p style="text-align: center; font-size: 20px; color: green"> <br><br><br>GOOD </p>
                {{ else }} <p style="text-align: center; font-size: 20px; color: red;">  <br><br><br>BAD </p>
                {{ endif }}
                {{ endif }}
            </div>
            <div class="container">
                <img src="{{ static image_patha }}"  class="center" />
                {{ if player.role == Constants.matcher_role }}
                <div class="center-full">
                    <button type="button" class="button button1" onclick="liveSend('select1')" >Select</button>
                </div>
                {{ endif }}
            </div>
        </div>
        <div style="width: 50%; height: 200px; float:right; border:1px; border-style: none none solid solid">
            <div style=" height: 80px;">
                {{ if player.role == Constants.director_role }}
                {{ if player.group.imgbvalue == True }} <p style="text-align: center; font-size: 20px; color: green"> <br><br><br>GOOD </p>
                {{ else }} <p style="text-align: center; font-size: 20px; color: red;">  <br><br><br>BAD </p>
                {{ endif }}
                {{ endif }}
            </div>
            <div class="container">
                <img src="{{ static image_pathb }}"  class="center"/>
                {{ if player.role == Constants.matcher_role }}
                <div class="center-full">
                    <button type="button" class="button button1" onclick="liveSend('select2')" >Select</button>
                </div>
                {{ endif }}
            </div>
        </div>
        <div style="width: 50%; height: 200px; float:left; border:1px; border-style: solid solid  none none">
            <div style=" height: 80px;">
                {{ if player.role == Constants.director_role }}
                {{ if player.group.imgcvalue == True }} <p style="text-align: center; font-size: 20px; color: green"> <br><br><br>GOOD </p>
                {{ else }} <p style="text-align: center; font-size: 20px; color: red;">  <br><br><br>BAD </p>
                {{ endif }}
                {{ endif }}
            </div>
            <div class="container">
                <img src="{{ static image_pathc }}"  class="center"/>
                {{ if player.role == Constants.matcher_role }}
                <div class="center-full">
                    <button type="button" class="button button1" onclick="liveSend('select3')" >Select</button>
                </div>
                {{ endif }}
            </div>
        </div>
        <div style="width: 50%; height: 200px; float:right; border:1px; border-style: solid none  none solid">
            <div style=" height: 80px;">
                {{ if player.role == Constants.director_role }}
                {{ if player.group.imgdvalue == True }} <p style="text-align: center; font-size: 20px; color: green"> <br><br><br>GOOD </p>
                {{ else }} <p style="text-align: center; font-size: 20px; color: red;">  <br><br><br>BAD </p>
                {{ endif }}
                {{ endif }}
            </div>
            <div class="container">
                <img src="{{ static image_pathd }}"  class="center"/>
                {{ if player.role == Constants.matcher_role }}
                <div class="center-full">
                    <button type="button" class="button button1" onclick="liveSend('select4')" >Select</button>
                </div>
                {{ endif }}
            </div>
        </div>
    </div>

    <!-- Chat box -->
    <div style="line-height:1; width: 50%; height: 400px; float:right;">
        <div id="div1" style="height: 80%; border:4px groove; background-color:#e8e7e3; overflow:scroll;">
            <h4 style="border:1px; border-style: none none groove none;"> Communications </h4>
        </div>
        <div id="div2">
        {{ if player.role == Constants.director_role }}
            <button type="button" class="button button1" onclick="liveSend('wa')" >wa</button>
            <button type="button" class="button button1" onclick="liveSend('bi')" >bi</button>
            <button type="button" class="button button1" onclick="liveSend('undo')" >undo</button>
            <button type="button" class="button button1" style="float:right;" onclick="liveSend('send')" >send</button>
        </div>
        {{ endif }}
    </div>

{{ endblock }}

<style>
.button {
  border: none;
  color: Black;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button1 {
  background-color: #e8e7e3;
}

.button1:hover {
  background-color: #c2c2c2;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.container {
  height: 120px;
  position: relative;
}

.center-full {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
</style>

<script>
document.addEventListener("DOMContentLoaded", (event) => {
    liveSend("");
});

    var remove = 0;
    let role = js_vars; // String, either "Director" or "Matcher"

function chatFunction(message) {
    var para = document.createElement("p");
    var node = document.createTextNode(message);
    para.appendChild(node);

    var element = document.getElementById("div1");
    element.appendChild(para);
    remove++;
}

function liveRecv(data){
    var chat = data; // String List

    // Goes no the next page if string 'nextpage' is received from the server
    if (data != 'null' && data[0] == 'nextpage'){
        document.getElementById("form").submit();
    }

    var element = document.getElementById("div1");
    var shouldremove = remove;

    // Removes current chat
    for (i = 0; i < shouldremove; i++) {
        element.removeChild(element.lastChild);
        remove--;
    }

    // Draws new chat
    if (data != 'null' && data[0] != 'nextpage'){
        Array.from(chat).forEach(chatFunction);
    }

    // Removes the "Message" part for the Matcher
    if (role == "Matcher"){
        element.removeChild(element.lastChild);
        remove--;
    }

    // Makes sure it is scrolled down
    element.scrollTop = element.scrollHeight;
}
</script>